<ngb-tabset [destroyOnHide]="false">
    <ngb-tab>
      <ng-template ngbTabTitle><p style="font-weight: bold;font-size: 13px;">Phòng 01</p></ng-template>
      <ng-template ngbTabContent>
            <app-phong-mot></app-phong-mot>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><p style="font-weight: bold;font-size: 13px;">Phòng 02</p></ng-template>
      <ng-template ngbTabContent>
            1
      </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle><p style="font-weight: bold;font-size: 13px;">Phòng 02</p></ng-template>
        <ng-template ngbTabContent>
              1
        </ng-template>
    </ngb-tab>
    <ngb-tab>
    <ng-template ngbTabTitle><p style="font-weight: bold;font-size: 13px;">Phòng 03</p></ng-template>
    <ng-template ngbTabContent>
            1
    </ng-template>
    </ngb-tab>
    <ngb-tab>
    <ng-template ngbTabTitle><p style="font-weight: bold;font-size: 13px;">Phòng 04</p></ng-template>
    <ng-template ngbTabContent>
            1
    </ng-template>
    </ngb-tab>
    <ngb-tab>
    <ng-template ngbTabTitle><p style="font-weight: bold;font-size: 13px;">Phòng 05</p></ng-template>
    <ng-template ngbTabContent>
            1
    </ng-template>
    </ngb-tab>
  </ngb-tabset>