<!----------------------------------------------- HEADER ------------------------------------------------->
<section class="content-header" style="padding:0.5%  !important">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-md-6">
              <ol class="breadcrumb float-left">
                  <li class="breadcrumb-item"><a [routerLink]="['/']"><i class="fas fa-home"></i> &nbsp;Trang chủ</a>
                  </li>
                  <li class="breadcrumb-item active">Danh sách học bổng sinh viên</li>
              </ol>
          </div>
          <div class="col-md-6">
              <button class="btn btn-success btn-sm" (click)="open(AddModal,'ls','Add','')" style="float: right;"><i
                      class="fas fa-plus-circle"></i> Thêm mới
              </button>
              <button class="btn btn-warning btn-sm"  type="submit" style="float: right;margin-right: 5px; ">
                  <i class="fas fa-info-circle"></i>
                  Hướng dẫn
              </button>
          </div>
      </div>
  </div>
</section>

<!----------------------------------------------- TABLE ------------------------------------------------->
<section class="content cus-body">
<div class="card">
    <div class="card-body">
        <div class="tab-content">
            <div class="active tab-pane">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive dataTables_wrapper container-fluid dt-bootstrap4 cus-fs">
                            <table style="width:100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="table-bordered dataTables_wrapper no-footer">
                            <thead style="text-align: center;">
                                <tr>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of dataTable; let i=index" >
                                    <td>{{i+1}}</td>
                                    <td>{{p.Ten_hoc_bong}}</td>
                                    <td>{{p.Ngay_cap | date: 'dd-MM-yyyy'}}</td>
                                    <td>{{p.Ngay_het_han | date: 'dd-MM-yyyy'}}</td>
                                    <td>{{p.Ten_loai_hoc_bong}}</td>
                                    <td>{{p.Gia_tri_max | number}}</td>
                                    <td>{{p.Ho_ten}}</td>                                  
                                    <td>
                                      <form class="form-horizontal" [formGroup]="StatusForm">
                                          <mat-form-field [style]="{backgroundColor: '#212529'}" appearance="fill">
                                              <mat-label style="color: white;font-weight: normal !important;">{{p.Ten_trang_thai}}</mat-label>
                                              <mat-select formControlName="Trang_thai">
                                                  <mat-option (click)="open(StatusModal,'xs','Status',p)" style="text-transform: uppercase;color:white" *ngFor="let tt of dataTrangThai" [value]="tt.Trang_thai">
                                                  {{tt.Ten_trang_thai}}
                                                  </mat-option>
                                              </mat-select>
                                          </mat-form-field>    
                                      </form>
                                    </td>        
                                    <td>
                                      <button class="btn btn-sm btn-info"
                                      (click)="open(AddModal, 'xs', 'Update', p)"
                                      style="margin-right: 5px;">
                                      <i class="fas fa-edit"></i>
                                      </button>
                                      <button class="btn btn-sm btn-info"
                                      (click)="open(DeleteModal, 'xs', 'Delete', p)"
                                      style="background-color: #dc3545;border-color:#dc3545 !important;">
                                      <i class="fas fa-trash-alt"></i>
                                      </button>
                                    </td>
                                  </tr>
                              </tbody>
                            </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-----------------------------------------------ADD MODAL ------------------------------------------------->
<ng-template #AddModal let-modal>
  <div class="modal-header m-header text-center" style="padding-top: 0px; padding-bottom: 0px;">
    <h4 class="modal-title h-title w-100"> {{titleModal}}</h4>
    <span (click)="modal.dismiss('Cross click')" aria-hidden="true" style="font-size: 25px;">&times;</span>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="Insert">
      <div class="row">
        <div class="col-md-12">
          <label class="col-md-10 require" style="margin-top: 10px;">Loại học bổng</label>
          <ng-select formControlName="ID_loai" notFoundText="Không có kết quả" [ngClass]="{ 'is-invalid': submitted && checkvalueInsert.ID_loai.errors }">
              <ng-option value="">Tất cả</ng-option>
              <ng-option *ngFor="let hb of dataLoaiHocBong" [value]="hb.ID_loai_hoc_bong">{{hb.Ten_loai_hoc_bong}}</ng-option>
          </ng-select>
          <div *ngIf="submitted && checkvalueInsert.ID_loai.errors" class="invalid-feedback">
              <div *ngIf="checkvalueInsert.ID_loai.errors.required">
                  Loại học bổng không được bỏ trống!
              </div>
           </div>
        </div>
        <div class="col-md-12">
          <label class="col-md-10 require">Tên học bổng</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalueInsert.Ten_hoc_bong.errors }"
             formControlName="Ten_hoc_bong" placeholder="Nhập tên ...">
             <div *ngIf="submitted && checkvalueInsert.Ten_hoc_bong.errors" class="invalid-feedback">
                <div *ngIf="checkvalueInsert.Ten_hoc_bong.errors.required">
                  Tên học bổng không được bỏ trống!
                </div>
             </div>
        </div>
        <div class="col-md-6">
          <label class="col-md-10 require">Ngày cấp</label>
            <input type="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalueInsert.Ngay_cap.errors }"
            formControlName="Ngay_cap">
            <div *ngIf="submitted && checkvalueInsert.Ngay_cap.errors" class="invalid-feedback">
              <div *ngIf="checkvalueInsert.Ngay_cap.errors.required">
                  Ngày cấp không được bỏ trống!
              </div>
           </div>
        </div>
        <div class="col-md-6">
          <label class="col-md-10 require">Ngày hết hạn</label>
            <input type="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalueInsert.Ngay_het_han.errors }"
            formControlName="Ngay_het_han">
            <div *ngIf="submitted && checkvalueInsert.Ngay_het_han.errors" class="invalid-feedback">
              <div *ngIf="checkvalueInsert.Ngay_het_han.errors.required">
                  Ngày hết hạn không được bỏ trống!
              </div>
           </div>
        </div>
        <div class="col-md-6">
          <label class="col-md-10 require">Giá trị</label>
            <input type="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && checkvalueInsert.Gia_tri_max.errors }"
            formControlName="Gia_tri_max">
            <div *ngIf="submitted && checkvalueInsert.Gia_tri_max.errors" class="invalid-feedback">
              <div *ngIf="checkvalueInsert.Gia_tri_max.errors.required">
                  Ngày hết hạn không được bỏ trống!
              </div>
           </div>
        </div>
        <div class="col-md-6">
          <label class="col-md-10 require" style="margin-top: 10px;">Trạng thái</label>
          <ng-select formControlName="Trang_thai" notFoundText="Không có kết quả" [ngClass]="{ 'is-invalid': submitted && checkvalueInsert.Trang_thai.errors }">
              <ng-option value="">Tất cả</ng-option>
              <ng-option [value]="1">Đã duyệt</ng-option>
              <ng-option [value]="2">Chờ duyệt</ng-option>
              <ng-option [value]="3">Đã chuyển đến sinh viên</ng-option>
          </ng-select>
          <div *ngIf="submitted && checkvalueInsert.Trang_thai.errors" class="invalid-feedback">
              <div *ngIf="checkvalueInsert.Trang_thai.errors.required">
                  Trạng thái không được bỏ trống!
              </div>
           </div>
        </div>
        <div class="col-md-12">
          <label class="col-md-10 require" style="margin-top: 10px;">Sinh viên</label>
          <ng-select formControlName="ID_sinh_vien" notFoundText="Không có kết quả" [ngClass]="{ 'is-invalid': submitted && checkvalueInsert.ID_sinh_vien.errors }">
              <ng-option value="">Tất cả</ng-option>
              <ng-option *ngFor="let sv of dataSinhVien" [value]="sv.ID_sinh_vien">{{sv.Ho_ten}}</ng-option>
          </ng-select>
          <div *ngIf="submitted && checkvalueInsert.ID_sinh_vien.errors" class="invalid-feedback">
              <div *ngIf="checkvalueInsert.ID_sinh_vien.errors.required">
                  Sinh viên không được bỏ trống!
              </div>
           </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="float-right">
      <button type="button" class="btn btn-md btn-success" (click)="onSubmit()">
        <i class="fas fa-save"></i> Lưu
      </button>
      <button type="button" class="btn btn-md btn-danger" (click)="modal.dismiss('Cross click')"
        style="margin-left: 1em;">
        <i class="far fa-times-circle"></i> Đóng
      </button>
    </div>
  </div>
</ng-template>

<!-----------------------------------------------DELETE MODAL ------------------------------------------------->
<ng-template #DeleteModal let-modal>
  <div class="modal-content">
      <div class="modal-body">
          <div class="icon-box">
              <i class="fas fa-trash-alt"
                  style="color: #f15e5e;font-size: 46px;display: inline-block;margin-top: 13px;"></i>
          </div>
          <p
              style="color: inherit; text-decoration: none;font-size: 20px; text-align: center; font-weight: 600; margin-top: 3em;">
              Bạn có chắc chắn muốn xóa
          </p>
          <div class="text-center">
              <button type="button" class="btn btn-md btn-success" (click)="Delete()" >
                  Đồng ý
              </button>
              <button type="button" class="btn btn-md btn-danger" (click)="modal.dismiss('Cross click')" style="margin-left: 1em;">
                  Hủy bỏ
              </button>

          </div>
      </div>
  </div>
</ng-template>

<!-----------------------------------------------STATUS MODAL ------------------------------------------------->
<ng-template #StatusModal let-modal>
<div class="modal-content">
    <div class="modal-body">
        <div class="icon-box">
            <i class="fas fa-battery-half"
                style="color: #c6c911;font-size: 46px;display: inline-block;margin-top: 13px;"></i>
        </div>
        <p
            style="color: inherit; text-decoration: none;font-size: 20px; text-align: center; font-weight: 600; margin-top: 3em;">
            Bạn có chắc chắn muốn đổi trạng thái duyệt ?
        </p>
        <div class="text-center">
            <button type="button" class="btn btn-md btn-success" (click)="changeStatus()" >
                Đồng ý
            </button>
            <button type="button" class="btn btn-md btn-danger" (click)="modal.dismiss('Cross click')" style="margin-left: 1em;">
                Hủy bỏ
            </button>
           
        </div>
    </div>
</div>
</ng-template>