
		<div class="about">
		<div class="about__title">
			<h2 class="about__title--text">GIỚI THIỆU TỔNG QUAN</h2>
		</div>
		<div class="about__text">
			<p class="about__text--content">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque officiis impedit exercitationem aperiam culpa repudiandae, architecto fugiat cumque dignissimos perferendis rerum eum aliquid assumenda consequatur aspernatur accusantium adipisci rem quasi!
				
				<br>
				
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex provident asperiores quisquam voluptatum dolorem. Hic animi asperiores quibusdam eum recusandae, similique obcaecati dolore, porro saepe consequuntur, ad reprehenderit voluptatibus voluptas!
				
				<br>
				
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, at qui quisquam sed maiores, rerum pariatur accusantium cum voluptates nihil ut aperiam nobis, suscipit dicta itaque obcaecati omnis culpa magnam.
			</p>
		</div>
		</div>
		<!-- Section 1 -->
        <div class="section-1-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col section-1 section-description wow fadeIn">
	                    <h2>CÁC VẤN ĐỀ VỀ GIÁO DỤC</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
                	<div class="col-md-4 section-1-box wow fadeInUp">
                		<div class="row">
                			<div class="col-md-4">
			                	<div class="__zoom-hover section-1-box-icon">
			                		<a style="color: white;" (click)="goToHBSV()" [routerLink]=""><i class="fas fa-magic"></i></a>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Học bổng sinh viên</h3>
	                    		<p>Quản lý trao học bổng cho sinh viên của các trường ĐH, học sinh THPT trên toàn quốc.</p>
								<a (click)="goToHBSV()" [routerLink]="">Danh sách sinh viên được trao học bổng</a>
	                    	</div>
	                    </div>
                    </div>
                    <div class="col-md-4 section-1-box wow fadeInDown">
	                	<div class="row">
                			<div class="col-md-4">
			                	<div class="__zoom-hover section-1-box-icon">
			                		<a (click)="goToDPKK()" style="color: white;" [routerLink]="['/dia-phuong-kho-khan']"><i class="fas fa-cog"></i></a>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Hỗ trợ địa phương khó khăn</h3>
	                    		<p>Tích cực tham gia các hoạt động tình nguyện giúp đỡ, hỗ trợ các địa phương khó khăn.</p>
								<a (click)="goToDPKK()" [routerLink]="['/dia-phuong-kho-khan']">Xem chi tiết</a>
	                    	</div>
	                    </div>
                    </div>
                    <div class="col-md-4 section-1-box wow fadeInUp">
	                	<div class="row">
                			<div class="col-md-4">
			                	<div class="__zoom-hover section-1-box-icon">
			                		<a style="color: white;" [routerLink]="['/danh-sach-hoi-thao']"><i class="fab fa-twitter"></i></a>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Hội nghị hội thảo về các phương pháp, công trình giáo dục</h3>
	                    		<p>Tổ chức các cuộc họp nhằm nâng cao, cải tiến nhứng thiếu xót về giáo dục tại trường học .</p>
								<a [routerLink]="['/danh-sach-hoi-thao']">Xem chi tiết</a>
	                    	</div>
	                    </div>
                    </div>
	            </div>
	        </div>
        </div>

        <!-- Section 2 -->
        <div class="section-2-container section-container section-container-gray-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col section-2 section-description wow fadeIn">
	                </div>
	            </div>
	            <div class="row">
	            	<div class="col section-2-box wow fadeInLeft">
                    	<h3>Tìm hiểu về các công trình nghiên cứu, phương pháp dạy học đã và đang được áp dụng tại các trường.</h3>
                    	<p class="medium-paragraph">
                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    		sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
                    	</p>
                    	<p>
                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                    		Ut wisi enim ad minim veniam, quis nostrud. 
                    		Exerci tation ullamcorper suscipit <a [routerLink]="['/danh-sach-cong-trinh']">công trình nghiên cứu</a> ut aliquip ex ea commodo consequat. 
                    		Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl. 
                    	</p>
                    	<p>
                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                    		Ut wisi enim ad minim veniam, quis nostrud. 
                    		Exerci tation ullamcorper suscipit <a [routerLink]="['/danh-sach-cong-trinh']">phương pháp nghiên cứu</a> ut aliquip ex ea commodo consequat.
                    	</p>
	                </div>
	            </div>
	        </div>
        </div>

		<!-- Section 3 -->
        <div class="section-3-container section-container">
	        <div class="container">
	        	
	            <div class="row">
	                <div class="col section-3 section-description wow fadeIn">
	                    <h2>Hệ thống trường học, Các trung tâm giáo dục uy tín</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-md-6 section-3-box wow fadeInLeft">
	                	<div class="row">
	                		<div class="col-md-3">
	                			<div class="__zoom-hover section-3-box-icon">
									<a style="color: white;" [routerLink]="['/danh-sach-truong-hoc']"><i class="fas fa-school"></i></a>									
	                			</div>
	                		</div>
	                		<div class="col-md-9">
	                			<h3>5 Trường đại học và THPT</h3>
		                    	<p>
		                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
		                    		Ut wisi enim ad minim veniam, quis nostrud.
		                    	</p>
	                		</div>
	                	</div>
	                </div>
	                <div class="col-md-6 section-3-box wow fadeInLeft">
	                	<div class="row">
	                		<div class="col-md-3">
	                			<div class="__zoom-hover section-3-box-icon">
	                				<a style="color: white;" [routerLink]="['/danh-sach-trung-tam']"><i class="fas fa-graduation-cap"></i></a>
	                			</div>
	                		</div>
	                		<div class="col-md-9">
	                			<h3>20 Trung tâm đào tạo chuyên môn</h3>
		                    	<p>
		                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
		                    		Ut wisi enim ad minim veniam, quis nostrud.
		                    	</p>
	                		</div>
	                	</div>
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-md-6 section-3-box wow fadeInLeft">
	                	<div class="row">
	                		<div class="col-md-3">
	                			<div class="__zoom-hover section-3-box-icon">
	                				<a style="color: white;" [routerLink]="['/danh-sach-chuyen-gia']"><i class="fas fa-chalkboard-teacher"></i></a>
	                			</div>
	                		</div>
	                		<div class="col-md-9">
	                			<h3>Đội ngũ giảng viên, giáo viên cao cấp</h3>
		                    	<p>
		                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
		                    		Ut wisi enim ad minim veniam, quis nostrud.
		                    	</p>
	                		</div>
	                	</div>
	                </div>
	                <div class="col-md-6 section-3-box wow fadeInLeft">
	                	<div class="row">
	                		<div class="col-md-3">
	                			<div class="__zoom-hover section-3-box-icon">
	                				<a style="color: white;" [routerLink]="['/danh-sach-dao-tao']"><i class="fab fa-google"></i></a>
	                			</div>
	                		</div>
	                		<div class="col-md-9">
	                			<h3>Chương trình đào tạo bắt kịp thời đại</h3>
		                    	<p>
		                    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
		                    		Ut wisi enim ad minim veniam, quis nostrud.
		                    	</p>
	                		</div>
	                	</div>
	                </div>
	            </div>

	        </div>
        </div>

		<!-- Section 4 -->
        <div class="section-4-container section-container section-container-gray-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col section-4 section-description wow fadeInLeftBig">
	                	<h2>Tổng kết</h2>
	                    <p>
	                    	Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
	                    	aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud.
	                    </p>
	                </div>
	            </div>
	        </div>
        </div>